<div class="view columns is-gapless is-mobile is-clipped">

  <!-- LEFT SIDE -->
  <div class="list-container column is-one-third">
    <div class="hero card">
      <div class="hero-body">
        <div class="container">
          <h1 class="title is-3">Schedules</h1>
        </div>
      </div>
    </div>
    <div class="list-view" style="width: 100%; height: auto">
      <div *ngFor="let schedule of schedules">
        {{schedule.id}}
      </div>
    </div>
  </div>
  <!-- RIGHT SIDE -->
  <div class="column card"></div>
</div>
