@import "../../../../styles";
@import "~bulma/sass/utilities/mixins";

.view {
  height: 100%;
}

.list-container {
  display: flex;
  flex-direction: column;
}

.list-header {
  flex: 0 1 100px;
}

.list-view {
  flex: 1 1 auto;
  overflow-y: auto;
  //border-radius: 0 !important;
}

//.list-item {
//  border-radius: 0 !important;
//}

@include mobile {
  .list-container {
    //display: none;
  }
  .view-container {
    //display: none;
  }
}
