<div class="hero">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        New Cloud
      </h1>
      <h2 class="subtitle">
        Register a new Cloud Service Account
      </h2>
    </div>
  </div>
</div>

<section class="section">
  <div class="container">
    <form (ngSubmit)="onSubmit()" #cloudForm="ngForm">

      <!-- Endpoint -->
      <div class="field">
        <label class="label">Endpoint</label>
        <div class="control">
          <label>
            <input class="input" type="text" placeholder="https://endpoint.example.com"
                   [(ngModel)]="cloud.endpoint" name="endpoint">
          </label>
        </div>
      </div>

      <!-- API name-->
      <div class="field">
        <label class="label">API name</label>
        <div class="control">
          <input class="input" type="text" placeholder="e.g. openstack-nova" required
                 [(ngModel)]="cloud.api.providerName" name="api">
        </div>
      </div>

      <!-- Credentials -->
      <div class="field">
        <label class="label">Credentials</label>
        <div class="field is-horizontal">
          <div class="field-body">
            <div class="field">
              <div class="control is-expanded">
                <input class="input" type="text" placeholder="user" required [(ngModel)]="cloud.credential.user"
                       name="user">
              </div>
            </div>
          </div>
        </div>

        <span #secret class="control">
      <input class="input" type="password" placeholder="secret" required [(ngModel)]="cloud.credential.secret"
             name="secret">
    </span>
      </div>

      <!-- Visibility -->
      <div class="field">
        <label class="label">Visibility</label>
        <div class="control">
          <input id="private" type="radio" class="is-checkradio is-primary" value="PRIVATE"
                 [(ngModel)]="cloud.cloudType"
                 name="visibility">
          <label for="private">
            Private
          </label>

          <input id="public" type="radio" class="is-checkradio  is-primary" value="PUBLIC" [(ngModel)]="cloud.cloudType"
                 name="visibility">
          <label for="public">
            Public
          </label>
        </div>
      </div>

      <!-- Node group -->
      <div class="field">
        <label class="label">Node group</label>
        <div class="control">
          <input class="input" type="text" placeholder="e.g. cloudiator" required
                 [(ngModel)]="cloud.cloudConfiguration.nodeGroup" name="nodeGroup">
        </div>
      </div>

      <!-- Configuration -->
      <div class="field">
        <div class="level is-marginless">
          <label class="label level-left">Configuration</label>
          <a class="level-right" href="http://cloudiator.org/components/sword.html#configuration" target="_blank">list of configurations</a>
        </div>
        <div *ngFor="let p of properties" class="field is-horizontal">
          <div class="field-body">
            <div class="field">
              <div class="control is-expanded">
                <input class="input" type="text" placeholder="name" [(ngModel)]="p.key"
                       [ngModelOptions]="{standalone: true}">
              </div>
            </div>
            <div class="field">
              <div class="control is-expanded">
                <input class="input" type="text" placeholder="value" [(ngModel)]="p.value"
                       [ngModelOptions]="{standalone: true}">
              </div>
            </div>
          </div>
          <div class="is-divider is-hidden-tablet"></div>
        </div>
        <div class="container has-text-centered">
          <button type="button" class="button" (click)="addProperty()">
            <span class="icon">
              <i class="fas fa-plus fa-lg"></i>
            </span>
          </button>
        </div>
      </div>

      <!-- Buttons -->
      <div class="field is-grouped">
        <div class="control">
          <button type="submit" class="button is-primary" [disabled]="!cloudForm.form.valid">Submit</button>
        </div>
        <div class="control">
          <a class="button is-text" routerLink="/clouds" routerLinkActive="active">Cancel</a>
        </div>
      </div>

    </form>
  </div>
</section>
