<nav *ngIf="showNav" class="navbar card is-secondary is-fixed-top" role="navigation" aria-label="main navigation"
     [class.has-low-opacity]="!showBurgerMenu">

  <div class="navbar-brand">
    <a class="navbar-item" routerLink="/clouds">
      <img src="assets/logo.svg" width="40px" class="" alt="Logo">
      <p class="is-size-4 has-text-white">Cloudiator</p>
    </a>


    <a role="button" class="navbar-burger " aria-label="menu" aria-expanded="false" data-target="navbar-menu"
       [class.is-active]="showBurgerMenu" (click)="showBurgerMenu= !showBurgerMenu">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbar-burger-menu" class="navbar-menu" [class.is-active]="showBurgerMenu">

    <!-- navbar entries -->
    <div class="navbar-start">
      <a class="navbar-item" routerLink="/clouds" routerLinkActive="is-active">
        Clouds
      </a>
      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          Resources
          <!--          <span class="icon"><i class="fas fa-chevron-down"></i></span>-->
        </a>
        <div class="navbar-dropdown">
          <a class="navbar-item" routerLink="/hardware" routerLinkActive="is-active">
            Hardware
          </a>
          <a class="navbar-item" routerLink="/images" routerLinkActive="is-active">
            Images
          </a>
          <a class="navbar-item" routerLink="/locations" routerLinkActive="is-active">
            Locations
          </a>
        </div>
      </div>
      <a class="navbar-item" routerLink="/schedules" routerLinkActive="is-active">
        Schedules
      </a>
      <a class="navbar-item" routerLink="/editor" routerLinkActive="is-active">
        <span class="is-badge-secondary  is-badge-small" data-badge="" [class.badge]="editorHasUnsavedChanges">
          Editor
        </span>
      </a>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="has-text-grey-lighter">{{user$ | async}}</div>
        <div class="field is-grouped">
          <p class="control">
            <a class="is-inverted" (click)="authservice.logOut()" style="margin-left: 0.5em">
              <span class="icon has-text-grey-lighter">
                <i class="fas fa-sign-out-alt"></i>
              </span>
            </a>
          </p>
        </div>
      </div>
    </div>

  </div>

</nav>

<div class="app-container has-background-light" [class.no-nav-app-container]="!showNav">
  <router-outlet></router-outlet>
</div>
