<div class="view">
  <div class="hero">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">Hardware</h1>
      </div>
    </div>
  </div>


  <section class="table-section section">
    <div class="container is-center" style="flex-direction: column">


      <ng-container *ngIf="!(isLoading$ | async); else loader">
      <!-- Search bar -->
      <p class="searchbar is-fullwidth control has-icons-left is-secondary">
        <input class="input" type="search" placeholder="Search" [formControl]="searchFormControl">
        <span class="icon is-left">
        <i class="fas fa-search"></i>
      </span>
      </p>

      <div style="height: 100%">
        <cdk-virtual-scroll-viewport class="table-viewport" itemSize="0">
          <table cdk-table class="table is-striped is-hoverable is-clickable"
                 [dataSource]="dataSource.value">

            <!-- Name Definition -->
            <ng-container cdkColumnDef="name">
              <th cdk-header-cell *cdkHeaderCellDef class="is-unselectable" (click)="adjustSort('name')">
                Name
                <span [class.is-opaque]="sortKey.value !== 'name'">
           <i class="fas fa-arrow-{{ sortDirection.value === 'asc' ? 'up' : 'down' }}"></i>
          </span>
              </th>
              <td cdk-cell *cdkCellDef="let row"> {{row.name}}</td>
            </ng-container>

            <!-- Ram Definition -->
            <ng-container cdkColumnDef="ram">
              <th cdk-header-cell *cdkHeaderCellDef class="is-unselectable" (click)="adjustSort('ram')">
                Ram
                <span [class.is-opaque]="sortKey.value !== 'ram'">
           <i class="fas fa-arrow-{{ sortDirection.value === 'asc' ? 'up' : 'down' }}"></i>
          </span>
              </th>
              <td cdk-cell *cdkCellDef="let row"> {{row.ram}}</td>
            </ng-container>

            <!-- Cores Definition -->
            <ng-container cdkColumnDef="cores">
              <th cdk-header-cell *cdkHeaderCellDef class="is-unselectable" (click)="adjustSort('cores')">
                Cores
                <span [class.is-opaque]="sortKey.value !== 'cores'">
           <i class="fas fa-arrow-{{ sortDirection.value === 'asc' ? 'up' : 'down' }}"></i>
          </span>
              </th>
              <td cdk-cell *cdkCellDef="let row"> {{row.cores}}</td>
            </ng-container>

            <!-- Disk Definition -->
            <ng-container cdkColumnDef="disk">
              <th cdk-header-cell *cdkHeaderCellDef class="is-unselectable" (click)="adjustSort('disk')">
                Disk
                <span [class.is-opaque]="sortKey.value !== 'disk'">
           <i class="fas fa-arrow-{{ sortDirection.value === 'asc' ? 'up' : 'down' }}"></i>
          </span>
              </th>
              <td cdk-cell *cdkCellDef="let row"> {{row.disk}}</td>
            </ng-container>

            <!-- Header and Row Declarations -->
            <tr cdk-header-row *cdkHeaderRowDef="['name', 'cores', 'ram', 'disk'], sticky:true"></tr>
            <tr cdk-row *cdkRowDef="let row; columns: ['name', 'cores', 'ram', 'disk']"
                [routerLink]="['/cloud', cloudDataService.findCloudId(row.id)]"></tr>
          </table>
        </cdk-virtual-scroll-viewport>
      </div>
      </ng-container>
      <ng-template #loader>
        <div class="loading-placeholder has-background-secondary">
          <div class="big-loading-animation">&#8205;</div>
        </div>
      </ng-template>
    </div>
  </section>
</div>
