<div class="cloud-card card button is-hoverable"
     [routerLink]="['/cloud', cloud.id]">

  <div class="hero" style="max-width: 100%; height: 100%">
    <div class="hero-body">
      <h3 class="api-text title is-5">{{cloud.api.providerName}}</h3>
      <h5 class="username-text subtitle is-5">{{cloud.credential.user}}</h5>
    </div>
  </div>

  <img *ngIf="backgroundSelector('openstack')"
       class="background-logo" src="assets/OpenStack-Logo.svg">
  <img *ngIf="backgroundSelector('aws')"
       class="background-aws-logo" src="assets/AWS-Logo.svg">
  <img *ngIf="backgroundSelector('gcp')"
       class="background-logo" src="assets/GCP-Logo.svg">
<!--  <img *ngIf="backgroundSelector('default')"-->
<!--       class="background-default-logo" src="assets/default-cloud-logo.svg">-->

  <span class="public-icon icon"
        [class.is-invisible]="cloud.cloudType === 'PUBLIC'">
    <i class="fas fa-lock has-text-grey-light"></i>
  </span>
</div>
