@import "~bulma/sass/utilities/mixins";

.view-header {
  padding: 0.6rem 1rem 0.6rem 0.8rem;
  //border-radius: 1rem;
  border-bottom-right-radius: 1rem;
  position: absolute;
  top: 0;
  left: 0;
  //background-color: white;
  //border: 1.5px solid $white-ter;
}

@include tablet {
  .view-header {
    padding: 0.6rem 0.8rem;
  }
}
