<nav class="navbar has-shadow" role="navigation" aria-label="main navigation">

  <div class="navbar-brand">
    <a class="navbar-item">
      <img src="../../assets/logo_sm.png">
      <p class="is-size-4 has-text-secondary">Cloudiator</p>
    </a>


    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbar-menu"
       [class.is-active]="showBurgerMenu" (click)="showBurgerMenu= !showBurgerMenu">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbar-burger-menu" class="navbar-menu" [class.is-active]="showBurgerMenu">

    <div class="navbar-start">
      <a class="navbar-item">
        Clouds
      </a>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="field is-grouped">
          <p class="control">
            <a class="button is-primary is-inverted">
              <span class="icon">
                <i class="fas fa-sign-out-alt"></i>
              </span>
            </a>
          </p>
        </div>
      </div>
    </div>

  </div>

</nav>
