<div class="hero">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">Clouds</h1>
    </div>
  </div>
</div>

<section class="section">
  <div class="is-flowing is-gaping">

    <app-cloud-card *ngFor="let cloud of clouds" [cloud]="cloud"></app-cloud-card>

    <!-- Add new cloud button -->
    <a class="card button has-background-grey-lighter is-hoverable" routerLink="/new-cloud" routerLinkActive="active"
       style="min-width: 15em; min-height: 5em">
    <span class="icon is-large" style="width: 100%; height: 100%;">
    <i class="fas fa-plus fa-3x"></i>
    </span>
    </a>
  </div>
</section>
