@import "~bulma/sass/utilities/mixins";

.view-container {
  overflow: hidden;
  height: 100%;
  width: 100%;
  background: url('../../../assets/background-login.svg')  no-repeat center center fixed;
  background-size: cover;
}

.login-card-container {
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  padding: 3em 0;
}
.logo {
  //top: calc(20vw - 150px);
  object-fit: cover;
  //background-color: #0c5593;
  width: 300px;
  height: 200px;
  top: -50px;
  left: 50px;
  margin-bottom: 3vh;
}

.login-card {
  padding: 1rem;
  width: inherit;
}

@include tablet {
  .logo {
    //position: absolute;
    //top: 80px;
    //left:  calc(20vh - 150px);
  }

  .login-card-container {
    justify-content: center;
  }
  .view-container {
     background-size: cover;
   }
}

@include widescreen {

  .view-container {
    background-size: cover;
  }
  .login-card {
    width: 25%;
    //height: 20%;
  }
}

@media only screen and (max-device-height: 500px) {
  .logo {
    top: -50px;
    left: 20px
  }
  .login-card-container {
    justify-content: flex-end;
    padding: 5em;
  }
}
//@media only screen and (min-device-height: 1000px)  {
//  .view-container {
//    background-size: cover;
//  }
//}

@media only screen and (orientation: landscape) and (min-device-height: 600px) {
  .login-card-container {
    flex-direction: row;
  }

}
