<div class="view-container">


  <div class="login-card-container">

    <img class="logo" src="assets/logo.png" alt="cloudiator">
    <div class="login-card card">
      <form (ngSubmit)="onLogin()" #loginForm="ngForm">
        <div class="field">
          <p class="control has-icons-left has-icons-right">
            <label>
              <input class="input"
                     type="email"
                     placeholder="Email"
                     required
                     [(ngModel)]="login.email"
                     name="email"
                     #name="ngModel"
                     [class.is-danger]="!name.valid && (name.dirty || name.touched)">
            </label>
            <span class="icon is-small is-left">
              <i class="fas fa-envelope"></i>
            </span>
            <span *ngIf="!name.valid && (name.dirty || name.touched)"
                  class="icon is-small is-right">
              <i class="fas fa-exclamation-triangle"></i>
            </span>
          </p>
        </div>
        <div class="field">
          <p class="control has-icons-left has-icons-right">
            <label>
              <input class="input"
                     type="text"
                     placeholder="Tenant"
                     required
                     [(ngModel)]="login.tenant.tenant"
                     name="tenant"
                     #tenant='ngModel'
                     [class.is-danger]="!tenant.valid && (tenant.dirty || tenant.touched)">
            </label>
            <span class="icon is-small is-left">
              <i class="fas fa-home"></i>
            </span>
            <span *ngIf="!tenant.valid && (tenant.dirty || tenant.touched)"
                  class="icon is-small is-right">
              <i class="fas fa-exclamation-triangle"></i>
            </span>
          </p>
        </div>
        <div class="field">
          <p class="control has-icons-left has-icons-right">
            <label>
              <input class="input"
                     type="password"
                     placeholder="Password"
                     required
                     [(ngModel)]="login.password"
                     name="password"
                     #password='ngModel'
                     [class.is-danger]="!password.valid && (password.dirty || password.touched)">
            </label>
            <span class="icon is-small is-left">
               <i class="fas fa-lock"></i>
            </span>
            <span *ngIf="!password.valid && (password.dirty || password.touched)"
                  class="icon is-small is-right">
              <i class="fas fa-exclamation-triangle"></i>
            </span>
          </p>
        </div>
        <div class="field">
          <p class="control">
            <button type="submit" class="button is-success" [class.is-loading]="isLoggingIn" [disabled]="isLoggingIn">
              Login
            </button>
          </p>
        </div>
      </form>
    </div>
  </div>
</div>
