<div style="width: 100%; height: 100%">
  <div class="tabs is-centered is-large is-fullwidth is-toggle is-toggle-rounded" style="padding: 1em 2em 0 2em">
    <ul>
      <li *ngIf="isValid"
          [class.is-active]="isTab(tab.JOB)"
          (click)="switchTab(tab.JOB)"
          [@tabEnterAnimation]
      style="overflow-x: hidden; flex-basis: 0">
        <a>Job</a></li>
      <li *ngIf="isScheduled"
          [class.is-active]="isTab(tab.NODE)"
          (click)="switchTab(tab.NODE)"
          [@tabEnterAnimation]
      style="overflow-x: hidden; flex-basis: 0">
        <a>
          Nodes
          <span class="icon is-medium">
            <i class="fas fa-spinner fa-pulse"></i>
          </span>
        </a>
      </li>
    </ul>
  </div>
  <div class="tab-container is-clipped">
    <div class="tab" [@slide]="tabAnimationState(tab.JOB)">
      <app-yaml-graph></app-yaml-graph>
    </div>
    <div class="tab" [@slide]="tabAnimationState(tab.NODE)">
      <app-node-graph></app-node-graph>
    </div>
  </div>
</div>

<button class="button" style="position: absolute; z-index: 99999; right: 10px; bottom: 10px" (click)="isValid = !isValid">valid</button>
<button class="button" style="position: absolute; z-index: 99999; right: 80px; bottom: 10px" (click)="isScheduled = !isScheduled">scheduled</button>
