<div class="level is-mobile">
  <div class="level-left">
    <div class="hero" *ngIf="cloud">
      <div class="hero-body">
        <div class="container">
          <h1 class="title">
            {{cloud.api.providerName}}
          </h1>
          <h2 class="subtitle">
            {{cloud.credential.user}}
          </h2>
        </div>
      </div>
    </div>
  </div>

  <div class="level-right">
    <div class="delete has-background-danger is-large level-item" (click)="onDelete()"></div>
  </div>
</div>

<div class="is-divider"></div>

<section class="section">
  <div class="columns">
    <!-- hardware table -->
    <div class="column">
      <div class="title is-4 is-clickable"
           [routerLink]="['/hardware']"
           [queryParams]="{ cloud: cloud? cloud.id: null}">
        Hardware
      </div>
      <div class="table-container card">
        <table cdk-table class="table is-fullwidth is-striped is-hoverable is-clickable" *ngIf="hardwareDataSource"
               [dataSource]="hardwareDataSource.value">

          <!-- Name Definition -->
          <ng-container cdkColumnDef="name">
            <th cdk-header-cell *cdkHeaderCellDef class="is-unselectable">
              Name
            </th>
            <td cdk-cell *cdkCellDef="let row"> {{row.name}}</td>
          </ng-container>

          <!-- Ram Definition -->
          <ng-container cdkColumnDef="ram">
            <th cdk-header-cell *cdkHeaderCellDef class="is-unselectable">
              Ram
            </th>
            <td cdk-cell *cdkCellDef="let row"> {{row.ram}}</td>
          </ng-container>

          <!-- Cores Definition -->
          <ng-container cdkColumnDef="cores">
            <th cdk-header-cell *cdkHeaderCellDef class="is-unselectable">
              Cores
            </th>
            <td cdk-cell *cdkCellDef="let row"> {{row.cores}}</td>
          </ng-container>

          <!-- Disk Definition -->
          <ng-container cdkColumnDef="disk">
            <th cdk-header-cell *cdkHeaderCellDef class="is-unselectable">
              Disk
            </th>
            <td cdk-cell *cdkCellDef="let row"> {{row.disk}}</td>
          </ng-container>

          <!-- Header and Row Declarations -->
          <tr cdk-header-row *cdkHeaderRowDef="['name', 'cores', 'ram', 'disk']; sticky: true"></tr>
          <tr cdk-row *cdkRowDef="let row; columns: ['name', 'cores', 'ram', 'disk']"
              [routerLink]="['/hardware']"
              [queryParams]="{ id: row.id }"></tr>
        </table>
      </div>
    </div>

    <!-- Images table -->
    <div class="column">
      <div class="title is-4"
           [routerLink]="['/images']"
           [queryParams]="{ cloud: cloud? cloud.id: null}">Images
      </div>
      <div class="table-container card">
        <table cdk-table class="table is-fullwidth is-striped is-hoverable is-clickable" *ngIf="imagesDataSource"
               [dataSource]="imagesDataSource.value">

          <!-- Name Definition -->
          <ng-container cdkColumnDef="name">
            <th cdk-header-cell *cdkHeaderCellDef class="is-unselectable">
              Name
            </th>
            <td cdk-cell *cdkCellDef="let row"> {{row.name}}</td>
          </ng-container>

          <!-- OS Definition -->
          <ng-container cdkColumnDef="os">
            <th cdk-header-cell *cdkHeaderCellDef class="is-unselectable">
              OS
            </th>
            <td cdk-cell *cdkCellDef="let row"> {{row.operatingSystem ? row.operatingSystem.operatingSystemFamily :
              ''}}
            </td>
          </ng-container>

          <!-- Header and Row Declarations -->
          <tr cdk-header-row *cdkHeaderRowDef="['name', 'os']; sticky: true"></tr>
          <tr cdk-row *cdkRowDef="let row; columns: ['name', 'os']"
              [routerLink]="['/images']"
              [queryParams]="{ id: row.id }"></tr>
        </table>
      </div>
    </div>
  </div>
</section>
