@charset "utf-8";

// Icon font
@import url("https://use.fontawesome.com/releases/v5.2.0/css/all.css");

@import "~xterm/css/xterm.css";

// initial variables
@import "../node_modules/bulma/sass/utilities/initial-variables";
//@import "../node_modules/bulma/sass/utilities/derived-variables";

$family-sans-serif: "Helvetica", "Arial", sans-serif;

$blue: #00447a;
$blue-invert: #fff;

$light-blue: #92acbe;
$light-blue-invert: #fff;

$primary: $blue;
$primary-invert: $blue-invert;

$secondary: $light-blue;
$secondary-invert: $light-blue-invert;

//$navbar-dropdown-background-color: $secondary;
$navbar-item-active-color: $primary;

$custom-colors: ("secondary": ($secondary, $secondary-invert));

$modal-z: 200;

$tabs-link-active-color: $secondary;
$tabs-link-active-border-bottom-color: $secondary;

//$link: $black;
$list-item-active-background-color: $secondary;
$list-radius: 0px;

$navbar-breakpoint: $tablet;

@import "../node_modules/bulma/bulma";
@import "../node_modules/bulma/sass/utilities/mixins";
@import "../node_modules/bulma-divider/dist/css/bulma-divider";
@import "../node_modules/bulma-checkradio/dist/css/bulma-checkradio";
@import "../node_modules/bulma-badge/dist/css/bulma-badge";

// custom classes

html {
  overflow-y: auto;
}


//::-webkit-scrollbar {
//  width: 12px;
//}
//
//::-webkit-scrollbar-track {
//  border-radius: 5px;
//}
//
//::-webkit-scrollbar-thumb {
//  border-radius: 4px;
//  //border-top-right-radius: 4px;
//  background: $grey-light;
//}

$app-container-height: calc(100% - #{$navbar-height});

// notification z-index
.notification {
  z-index: 201;
}

.cdk-header-cell {
  z-index: 0 !important;
}

.app-container {
  position: absolute;
  width: 100vw;
  height: $app-container-height;
  // height: $app-container-height;
   overflow-y: auto;
}

.fullsize-container {
  position: fixed;
  height: $app-container-height !important;
}


// container auto linewrap
.is-flowing {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.is-gaping {
  > * {
    margin: 10px 10px;
  }
}

.is-opaque {
  opacity: 0;
}

.is-clickable {
  cursor: pointer;
}

@include mobile {
  .hidden-mobile {
    display: none !important;
  }
}

@include touch {
  .hidden-touch {
    display: none !important;
  }
}

//  text placeholder
@keyframes placeHolderShimmer{
  0%{
    background-position: 50% 0
  }
  100%{
    background-position: -50% 0
  }
}

.animated-background {
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: placeHolderShimmer;
  animation-timing-function: linear;
  background: #f6f7f8;
  background: linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
  background-size: 800px 104px;
  border-radius: 3rem;
  //height: 96px;
  position: relative;
}
.text-loading-animation {
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: placeHolderShimmer;
  animation-timing-function: linear;
  background: $secondary;
  background: linear-gradient(to right, rgba(238,238,238,0.7) 8%, rgba(255,255,255,0.4) 18%, rgba(238,238,238,0.7) 33%);
  background-size: 800px 104px;
  border-radius: 3rem;
  //height: 96px;
  position: relative;
}

.big-loading-animation {
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: placeHolderShimmer;
  animation-timing-function: linear;
  background: linear-gradient(to right, rgba(255,255,255,0.9) 8%, rgba(255,255,255,0.1) 18%, rgba(255,255,255,0.9) 33%);
  background-size: 500%;
}
