@charset "utf-8";

// Icon font
@import url("https://use.fontawesome.com/releases/v5.1.0/css/all.css");
// 1. Import the initial variables
@import "../node_modules/bulma/sass/utilities/initial-variables";

$blue: #00447a;
$blue-invert: #fff;

$family-sans-serif: "Helvetica", "Arial", sans-serif;

$primary: $blue;
$primary-invert: $blue-invert;

$secondary: #92acbe;

// 4. Import the rest of Bulma
@import "../node_modules/bulma/bulma";

.has-text-secondary {
  color: $secondary !important;
}

// container auto linewrap
.is-flowing {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.is-gaping {
  > * {
    margin: 10px 10px;
  }
}
