<div class="bottom-sheet card has-shadow"
     [@sheetOpenClose]="sheetOpenClose"
     (swipedown)="sheetOpenClose = 'closed'"
     (swipeup)="sheetOpenClose = 'open'"
     (click)="onSheetClick()">

  <a class="bottom-sheet-button"
     (click)="switchOpenState()">
        <span class="icon" [@buttonOpenClose]="sheetOpenClose">
          <i class="fas fa-arrow-down"></i>
        </span>
  </a>
  <!-- Node View -->
  <ng-container *ngIf="selected?.group === 'nodes'">
    <div class="bottom-sheet-header">
      <strong [@headerOpenClose]="sheetOpenClose">
        {{selected.data.task}}
      </strong>
    </div>
    <div class="bottom-sheet-content content container">
      <div>
        {{selected?.data.state.toLowerCase()}}
        <span class="icon">
        <i *ngIf="selected?.data.state === 'RUNNING'" class="fas fa-circle has-text-success"></i>
        <i *ngIf="['ERROR', 'FAILED'].includes(selected?.data.state)" class="fas fa-circle has-text-danger"></i>
      </span>
      </div>
      <table>
        <tr>
          <td><u>process id</u>:</td>
          <td>{{selected?.data.id}}</td>
        </tr>
        <ng-container *ngIf="selected?.data?.ipAddresses?.length !== 0">
          <tr>
            <td>
              <div style="margin-right: 0.25em"><u>ip addresses</u>:</div>
            </td>
            <td>
              <div>
                <div *ngFor="let ip of selected?.data.ipAddresses">{{ip}}<br></div>
              </div>
            </td>
          </tr>
        </ng-container>
      </table>
    </div>
  </ng-container>
  <!-- Edge View -->
  <ng-container *ngIf="selected?.group === 'edges'">
    <div class="bottom-sheet-header">
      <strong [@headerOpenClose]="sheetOpenClose">
        edge
      </strong>
    </div>
    <div class="bottom-sheet-content content">
      source: {{selected.data.source.task}} <br>
      target: {{selected.data.target.task}}
    </div>
  </ng-container>
</div>
