@import "../../../../styles";

.editor-container {
  display: flex;
  background: blue;
  height: 100%;
  flex-direction: column;
}

.editor-header {
  border: 1px #{$grey-darker} solid;
  padding: 7px 5px;
}
