<!--<div class="hero">-->
<!--<div class="hero-body">-->
<!--<div class="container">-->
<!--<h1 class="title">YAML Editor</h1>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<div class="columns fullsize-container is-gapless is-mobile is-clipped" style="height:100%; width: 100%;">
  <!-- Editor Side -->
  <div class="column is-half-desktop" [class.is-hidden-touch]="(showGraphs|async)">
    <div class="editor-container">
      <div class="editor-header ace-{{theme}}">
        <!-- Editor Header -->
        <div class="level is-mobile">
          <div class="level-left">
            <div class="field has-addons">
              <p class="control">
                <input type="file" name="upload" id="upload" #upload class="is-hidden"
                       (change)="onUploadChange($event)">
                <label for="upload">
                  <a class="button is-small is-outlined is-secondary">
                    <span class="icon is-small">
                      <i class="fas fa-upload"></i>
                    </span>
                  </a>
                </label>
              </p>
              <!-- Download button -->
              <p class="control">
                <button class="button is-small is-outlined is-secondary"
                        [disabled]="editor.getValue() === '' || filename === ''"
                        (click)="onDownload()">
                    <span class="icon is-small">
                      <i class="fas fa-download"></i>
                    </span>
                </button>
              </p>
            </div>
          </div>
          <div class="level-item">
            <input #filenameField type="text" id="filename-input" class="input is-small is-rounded has-text-centered"
                   [(ngModel)]="filename"
                   name="filename">
          </div>
          <div class="level-right buttons">
            <button class="button is-small is-outlined is-secondary" (click)="onValidate()"
                    [class.is-loading]="isValidating">validate
            </button>
            <button class="button is-small is-outlined is-success" (click)="onSubmit()"
                    [class.is-loading]="isSubmitting" [disabled]="!isValid">submit
            </button>
          </div>
        </div>
      </div>
      <div id="editor"
           class=""
           style="height:100%;">
      </div>
    </div>
    <!--  Graphs Button Mobile view  -->
    <a class="graph-button card title is-6 is-hidden-desktop"
       routerLink="/editor/graphs">
      Graphs
      <span class="icon">
        <i class="fas fa-arrow-right"></i>
      </span>
    </a>
  </div>
  <!-- Right Side -->
  <div class="column " [class.is-hidden-touch]="!(showGraphs|async)">
    <app-editor-graph-view></app-editor-graph-view>
  </div>
</div>
